* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url('../images/vs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-container {
    position: relative;
    padding: 20px;
}

.menu-icon {
    width: 30px;
    height: 24px;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.line {
    width: 100%;
    height: 4px;
    background-color: black;
}

.menu-options {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.menu-options.show {
    display: block;
}

.menu-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.menu-options a:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

#imageContainer {
    margin-top: 20px;
    text-align: center;
}

#uploadedImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

